#home {
  background-image: url(asset_path('BMI_Calc.jpg'));
  background-size: cover;
  opacity: 1;
  height: 100%;
}

#home-message {
  text-align: center;
  font-family: serif;
  color: hsl(51, 92%, 60%);
  font-size: 5rem;
  // position: absolute;
  // top: 1%;
  // left: 29%;
  // height: auto;
  width: auto;
  padding: 0em .25em 0em .25em;
  background-color: rgba(193, 207, 224, 0.75);
  border-bottom-style: solid;
  border-bottom-color: black;
  // border-radius: 25px;
}

#links {
  font-family: sans-serif;
  color: #007bff;
  font-size: 2.5rem;
  position: absolute;
  top: 45%;
  left: 46%;
  height: auto;
  width: auto;
  border-style: solid;
  border-color: black;
  padding: 0 0.3em 0 0.3em;
  background-color: rgba(193, 207, 224, 0.75);
  text-align: center;
  border-radius: 25px;
}

#sign_in_links {
  font-family: sans-serif;
  color: #007bff;
  font-size: 2.5rem;
  position: absolute;
  top: 37%;
  left: 40%;
  height: auto;
  width: auto;
  border-style: solid;
  border-color: black;
  padding: 0 0.3em 0 0.3em;
  background-color: rgba(193, 207, 224, 0.75);
  text-align: center;
  border-radius: 25px;
}

#welcome {
  text-align: center;
  font-family: serif;
  color: hsl(51, 92%, 60%);
  font-size: 5rem;
  // position: absolute;
  // top: 1%;
  // left: 34%;
  // height: 13%;
  // width: 35%;
  // background-color: rgba(193, 207, 224, 0.75);
  // border-radius: 25px;
  // width: auto;
  padding: 0em .25em 0em .25em;
  background-color: rgba(193, 207, 224, 0.75);
  border-bottom-style: solid;
  border-bottom-color: black;
}
