#home {
  background-image: url(asset_path('BMI_Calc.jpg'));
  background-size: cover;
  opacity: 1;
  height: 100%;
}

#home-message {
  text-align: center;
  font-family: serif;
  color: hsl(51, 92%, 60%);
  font-size: 5rem;
  position: absolute;
  top: 1%;
  left: 29%;
  height: 14%;
  width: 45%;
  background-color: rgba(193, 207, 224, 0.75);
  border-radius: 25px;
}

#links {
  font-family: sans-serif;
  color: #007bff;
  font-size: 2.5rem;
  position: absolute;
  top: 45%;
  left: 46%;
  height: 14%;
  width: 10%;
  background-color: rgba(193, 207, 224, 0.75);
  text-align: center;
  border-radius: 25px;
}

#sign_in_links {
  font-family: sans-serif;
  color: #007bff;
  font-size: 2.5rem;
  position: absolute;
  top: 65%;
  left: 66%;
  height: 35%;
  width: 21%;
  margin: -15% 0 0 -25%;
  background-color: rgba(193, 207, 224, 0.75);
  text-align: center;
  border-radius: 25px;
}

#welcome {
  text-align: center;
  font-family: serif;
  color: hsl(51, 92%, 60%);
  font-size: 5rem;
  position: absolute;
  top: 1%;
  left: 34%;
  height: 13%;
  width: 35%;
  background-color: rgba(193, 207, 224, 0.75);
  border-radius: 25px;
}
