h1 {
  color: #007bff;
  position: absolute;
  top: 20%;
  left: 40%;
  font-family: 'Rubik', sans-serif;
}

.form-group {
  width: 14em;
  font-family: 'Karla', sans-serif;
  color: #007bff;
  font-size: 1.5em;
}

.form {
  position: absolute;
  top: 29%;
  left: 41.25%;
}

.help-block {
  color: red;
  font-style: italic;
}

#login {
  position: absolute;
  top: 23%;
  left: 45%;
}

#login_error {
  font-family: 'Karla', sans-serif;
  font-size: 2em;
  color: red;
  text-align: center;
}

#record-form {
  position: absolute;
  top: 20%;
  left: 40.5%;
}
