h1 {
  color: red;
  position: absolute;
  top: 20%;
  left: 40%;
  font-family: 'Rubik', sans-serif;
}

.form-group {
  width: 14em;
  font-family: 'Karla', sans-serif;
  color: #007bff;
  font-size: 1.5em;
}

.form {
  position: absolute;
  top: 29%;
  left: 41.25%;
}
